body {
    font-family: Helvetica, Arial, sans-serif;
}

.icon {
    margin-right: 12px;
}

.icons2 {
    margin-right: 33px;
}

.titolo {
    font-weight: 700;
}


.sotto {
    color: rgb(140, 137, 137);

}

.sottotitolo {
    color: rgb(140, 137, 137);
    margin-left: 12px;

}

.bodyText {
    color: rgb(89, 88, 88)
}

.tabella {
    border-radius: 18px;
}

.ultimo {
    font-weight: 500;
    text-decoration: underline;
}

.testoAggiuntivo {
    color: rgb(137, 134, 134)
}

a {
    text-decoration: none;
    color: rgb(136, 134, 134);
    font-size: 0.8em;
}

.lingua {
    font-size: 12px;
}

.bgFooter {
    background-color: #F4F2EE;
    line-height: 8mm;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    letter-spacing: 0.5px;

}

.footer-copyright {
    margin-top: 20px;


}

.footerBiglist {
    font-size: 18px;
}

.listOne {
    font-weight: 600;
}


/* Prova */

.chat {
    background-color: wheat;
    border-radius: 15px;

}