body {
  background-color: #f4f2ee;
}

#imgProfile {
  transform: translate(30px, 110px);
}

.pencil:hover,
.addPlus:hover,
.ArrowLeft:hover {
  background-color: rgb(233, 237, 240) !important;
}

.pencil,
.addPlus,
.ArrowLeft {
  height: 3rem !important;
}

.Mostratutti:hover {
  background-color: #eaf5f3 !important;
}

/* --------------------------- IMPORT ANALISI-------------------------------------- */

body {
  font-family: Helvetica, Arial, sans-serif;
}

.icon {
  margin-right: 12px;
}

.icons2 {
  margin-right: 33px;
}

.titolo {
  font-weight: 700;
}

.sotto {
  color: rgb(140, 137, 137);
}

.sottotitolo {
  color: rgb(140, 137, 137);
  margin-left: 12px;
}

.bodyText {
  color: rgb(89, 88, 88);
}

.tabella {
  border-radius: 18px;
}

.ultimo {
  font-weight: 500;
  text-decoration: underline;
}

.testoAggiuntivo {
  color: rgb(137, 134, 134);
}

footer a {
  text-decoration: none;
  color: rgb(136, 134, 134);
  font-size: 0.8em;
}

.lingua {
  font-size: 12px;
}

.bgFooter {
  background-color: #f4f2ee;
  line-height: 8mm;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  letter-spacing: 0.2px;
}

.footer-copyright {
  margin-top: 20px;
}

.footerBiglist {
  font-size: 18px;
}

.listOne {
  font-weight: 600;
}

/* Prova */

.chat {
  background-color: wheat;
  border-radius: 15px;
}

.line {
  display: inline-block;
}

.addButton {
  margin-left: 12px;
}

/* --------------------------- FINE IMPORT ANALISI-------------------------------------- */

/* --------------------------- CARD - NEWS SIDE LEFT-------------------------------------- */

.newsSideLeftCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.asideLink {
  cursor: pointer;
}
.nslHeader {
  background-color: #026660;
  background-image: url(./components/newsPage/a.png);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nslAvatar {
  background-color: #fff;

  position: absolute;
  bottom: -30px;

  border-radius: 50%;
}

.nslAvatar img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nslContent {
  text-align: center;
  padding: 40px 20px 20px 20px;
}

.nslContent h2 {
  margin-top: 10px;
  font-size: 20px;
}

.nslContent p {
  color: #777;
  margin: 0;
  font-size: 14px;
}

.nslFooter {
  border-top: 1px solid #e0e0e0;
  /* padding: 20px; */
}

.nslSection {
  /* margin-bottom: 15px; */
  border-bottom: 1px solid #e0e0e0;

  padding: 20px;
}

.nslSection p {
  margin: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.nslSection a {
  color: #0073b1;
  text-decoration: none;
}

.nslSection .premium {
  color: #ff9a00;
}

.nslSection .icon {
  float: right;
  /* vertical-align: top; */
  margin-top: -4px;
}

.nslSection .icon2 {
  float: left;
  font-size: 18px;
  margin-right: 10px;
  margin-top: -5px;
}

.icon {
  margin-top: 0px;
}

/* --------------------------- CARD - NEWS SIDE RIGHT-------------------------------------- */

.newsSideRightCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.newsSideRightCard a {
  text-decoration: none;
  color: rgb(90, 89, 89);
  font-size: 16px;
}

.nsr-details {
  font-size: 12px;
  margin-left: 20px;
}

.nsrCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.nsrCard-header h2 {
  margin: 0;
  font-size: 16px;
}

.nsrCard-header .icon {
  font-size: 16px;
  margin-top: -7px;
}

.nsrCard-content {
  padding: 10px 0;
}

.nsrCard-content h3 {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.nsrCard-content ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  font-weight: 300;
}

.nsrCard-content ul li {
  margin-bottom: 10px;
  font-size: 10px;
}

.nsrCard-content ul a {
  font-size: 14px;
  font-weight: 600;
}

.nsrCard-content ul p {
  font-size: 12px;
  font-weight: 100;
  margin-left: 0px;
}

.nsrCard-footer a {
  font-size: 12px;
}

.nsrCard-footer p {
  font-size: 13px;
  margin-top: 20px;
  text-align: center;
}

/* --------------------------- FINISH CARD - NEWS SIDE RIGHT------------------------------- */

/* --------------------- ------POST----- -------------------------- */

.postCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

/* .postCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
} */

.postProfile-info {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.postProfile-info h3 {
  font-size: 14px;
  letter-spacing: -0.5px;
}

.postProfile-info p {
  font-size: 12px;
  color: #777;
}

.postProfile-info span {
  font-size: 12px;
  color: #777;
}

.postFollow {
  color: #0073b1;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  /* align-items: flex-end;   qui */
  justify-content: flex-end;
}

.postMore {
  font-size: 20px;
  color: #777;
  text-decoration: none;
}

.postCard-content {
  margin: 15px 0;
}

.postCard-content h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333;
}

.postCard-content p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.postCard-content a {
  color: #0073b1;
  text-decoration: none;
}

.postProfile-info .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.postCard-footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.action-btn {
  background: none;
  border: none;
  color: #0073b1;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.action-btn:hover {
  text-decoration: underline;
}

.postCard-info a {
  text-decoration: none;
  color: black;
}

.postLike {
  margin-right: 5px;
  color: black;
}

.postCard-content h4 {
  margin-bottom: 12px;
  margin-top: 22px;
}

.postCard-content p {
  margin-bottom: 12px;
}

/* ------------------- --------END-POST-------- ------------------------ */

/* ------------------- --------START CREATE POST-------- ------------------------ */

.createPost-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 14px;
}

.createPost-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.createPost-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.createPost-options {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.option-createPost {
  cursor: pointer;
}

.option-createPost span {
  font-size: 14px;
  color: #555;
}

.createLeft {
  margin-left: 7px;
  margin-top: 12px;
}

/* ------------------- --------END-POST-------- ------------------------ */
.dropdown-menu-wide {
  width: 600px;
}

.dropdown-header {
  font-weight: bold;
  margin-top: 10px;
}

.me-2 {
  margin-right: 0.5rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navbar-nav .dropdown-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.custom-navbar {
  height: 50px;
}

.custom-navbar .navbar-brand img {
  max-height: 100%;
}

.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-nav .dropdown-toggle {
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-collapse {
  align-items: center;
}

/* .custom-dropdown-toggle::after {
  display: none !important;
} */

.vertical-separator {
  height: 50px;
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

/* css per le ricerche recente */
.search-results {
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.recent-searches-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.recent-searches-header span {
  font-weight: bold;
}

.recent-search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.recent-search-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* pulsante "X" per cancellare il testo nella barra di ricerca */
.search-bar-container {
  position: relative;
}

.search-bar .form-control {
  padding-right: 30px;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.search-results {
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.recent-searches-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.recent-searches-header span {
  font-weight: bold;
}

.recent-search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.recent-search-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Stile per la pagina Jobs */
/* Stile per la pagina Jobs */
.jobs-container {
  padding: 20px;
}

.jobs-sidebar {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
}

.jobs-content {
  padding: 20px;
}

.job-footer {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  border: 1px rgb(189, 189, 189) solid;
}

.footer-title {
  font-size: 20px;
}

.footer-subtitle {
  font-size: 14px;
}

.footer-text1 {
  padding: 20px 0;
  font-size: 12px;
}

.footer-text2 {
  font-size: 15px;
  padding-bottom: 20px;
}

.footer-link {
  font-size: 12px;
}

.jobs-header {
  margin-bottom: 20px;
}

.jobs-header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.jobs-header p {
  color: #6c757d;
  font-size: 16px;
  margin: 0;
}

.jobs-list .job-item {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.job-title {
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.job-company {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 10px;
}

.job-location {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 15px;
}

/* button {
  width: 100%;
} */

.show-more {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.show-more:hover {
  background-color: #ebebeb;
}

.improve-resume {
  cursor: pointer;
}

.icon-jobsSidebar {
  margin-right: 8px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.jobsidebar-text {
  cursor: pointer;
}

/* .jobsidebar-text:hover {
  background-color: #dbdbdb;
} */

/* ------------------------ ------------ Comments ------- ----------------------- */

.comment-section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-comment {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.add-comment .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.add-comment input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  outline: none;
}

.comments .comment {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.comments .comment:last-child {
  border-bottom: none;
}

.comments .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: bold;
  margin-right: 5px;
}

.comment-time {
  color: #888888;
}

.comment-body {
  margin-bottom: 5px;
}

.comment-body p {
  margin: 0;
}

.comment-body a {
  color: #0073b1;
  text-decoration: none;
}

.comment-body a:hover {
  text-decoration: underline;
}

.comment-footer {
  display: flex;
  align-items: center;
  font-size: 0.875em;
  color: #888888;
}

.recommend {
  margin-right: 10px;
}

.recommend-icons {
  margin-left: 5px;
}

.reply {
  color: #0073b1;
  text-decoration: none;
}

.reply:hover {
  text-decoration: underline;
}

/* ------------------------ ------------ START Rating Box ------- ----------------------- */

.ratingBox {
  width: 100%;
  justify-content: center;
}

.subRating {
  margin-right: 20px;
  font-size: 18px;
}

/* ------------------------ ------------ END Rating Box ------- ----------------------- */

.star-rating {
  width: 100%;
  direction: rtl;
  display: inline-block;
  font-size: 2em;
  unicode-bidi: bidi-override;
  color: #0073b1;
}

.star-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.star-rating > span:hover:before,
.star-rating > span:hover ~ span:before {
  content: "\2605";
  /* Unicode character for filled star */
  position: absolute;
  color: #0073b1;
}

.star-rating > span:before {
  content: "\2606";
  /* Unicode character for empty star */
  position: absolute;
}

star-rating p {
  font-size: 12px;
}

.verticalStar {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 15px;
}

.starSpacingMain {
  width: 100%;
  justify-content: center;
}

------------------ prov star -------------- input[name="c4l-rating"] {
  display: none;
}

.demo-content input[name="c4l-rating"] {
  display: none;
}

input[name="c4l-rating"] + label:after {
  content: none;
}

input[name="c4l-rating"] + label {
  font-family: "FontAwesome";
}

input[name="c4l-rating"] + label:before {
  background-color: transparent;
  border: none !important;
  color: #ffc107;
  content: "\2605";
  font-size: 1.33333333em;
  transition: none;
  font-size: 30px;
}

input[name="c4l-rating"]:checked ~ label:before {
  background-color: transparent;
  border: none !important;
  color: #607d8b;
}

input[name="c4l-rating"]:checked + label:before {
  color: #ffc107;
}

input[name="c4l-rating"] + label:hover ~ input + label:before {
  opacity: 0.6;
}
