body {
  background-color: #f4f2ee;
}
#imgProfile {
  transform: translate(30px, 110px);
}
#pencil:hover {
  background-color: rgb(233, 237, 240);
}
.Mostratutti:hover {
  background-color: #eaf5f3 !important;
}
